/* -------------------------------
    CSS for PureTube
    Author: Camden Rudisill
  -------------------------------*/

a {
  color: color: #2F2FB9;
  transition: all 0.2s ease;
}
a:hover {
  color: #BF2A8F;
  text-decoration: none;
}
#selected {
  background-color: #D86666;
  color: #fff;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  color: #47CCBF;
}
.header-text {
  margin: 0px;
}
.content-container {
  width: 85%;
  margin: 0 auto;
}
.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ddd;
  width: 60%;
  margin: 20px auto 20px auto;
  padding: 5px;
  border-radius: .25rem;
}
.search-bar input {
  width: 90%;
  border: none;
}
.search-bar input:focus {
  outline: none;
}
.video-container {
  display: flex;
}
.video-item img {
  max-width: 64px;
}
.video-detail .details {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.media-body {
  margin-left: 20px;
}
.details-title {
  padding: 10px;
  background-color: #47CCBF;
  color: #fff;
  letter-spacing: 1px;
  font-size: 17px;
}
.details-description {
  padding: 10px;
}
.details-youtube {
  padding: 10px;
}
.youtube-link:hover {
  color: #BF2A8F;
}
.list-group-item {
  cursor: pointer;
  transition: all 0.2s ease;
}
.list-group-item:hover {
  background-color: #eee;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: #47CCBF;
  height: 80px;
  color: #fff;
}
.footer-text {
  margin: 0px;
  letter-spacing: 1px;
}
.github {
  color: #2F2FB9;
  transition: all 0.3s ease;
}
.github:hover {
  cursor: pointer;
  color: #BF2A8F;
}

.fa-search {
  color: #0085ff;
}

@media only screen and (max-width: 1000px) {
  .media {
    flex-direction: column;
  }
  .media-body {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .list-group {
    display: none;
  }
  .video-detail {
    margin: 0 auto;
  }
}
